#container {
  width: 100%;
  border-color: blue;
}

.box{
  float: left;
}

#divConexao{
width: 50%;
height: 20px;
left:20px;
float:left;
}

#divTela{
  width: 50%;
  height: 20px;
  left:20px;
  float: right;
}

textarea{
  width:400px;
  height:30px
}

button{
  top: 0px;
  width: 100px;
  height: 30px;
}

#messages{
  width: 400px;
  height: 300px;
}

#video{
  width: 600px;
  height: 600px;
}
